# Global settings
ACCOUNT=carbonable
WALLET=starkware.starknet.wallets.open_zeppelin.OpenZeppelinAccount

# ERC-1155 settings
ERC1155_URI="ipfs://bafybeid3s2i3rjqdxeaoi2du7r3yev4n25uzbwla7nyj5v22rwdl7lfvz4"
ERC1155_NAME="Carbonable ERC-1155 Test"

# ERC-721 settings
ERC721_NAME="Carbonable ERC-721 Test"
ERC721_SYMBOL=CET
ERC721_URI="ipfs://bafybeihfuraj3mqqhn73ly2eap3ovxyu6ilasrmxpdg4hz7giul4hgr7zy"

# Minter settings
PAYMENT_TOKEN_ADDRESS=0x07394cbe418daa16e42b87ba67372d4ab4a5df0b05c6e554d158458ce245bc10
PUBLIC_SALE_OPEN=1
MAX_BUY_PER_TX=5
UNIT_PRICE="10 0"
MAX_SUPPLY_FOR_MINT="10 0"
RESERVED_SUPPLY_FOR_MINT="3 0"