# Global settings
ACCOUNT=carbonable
WALLET=starkware.starknet.wallets.open_zeppelin.OpenZeppelinAccount

# Carbonable Badge Settings
BADGE_URI="ipfs://bafybeid3s2i3rjqdxeaoi2du7r3yev4n25uzbwla7nyj5v22rwdl7lfvz4"
BADGE_NAME="Carbonable Badge Test"

# Carbonable Project Settings
PROJECT_NAME="Carbonable Project Test"
PROJECT_SYMBOL=CARB
PROJECT_URI="ipfs://bafybeigfdn34lppjksypyvmkeeim5536e77oj4jfsh62lbom2zu643rxbm"

# Carbonable Minter Settings
PAYMENT_TOKEN_ADDRESS=0x049d36570d4e46f48e99674bd3fcc84644ddd6b96f7c741b1562b82f9e004dc7
MINTER_PUBLIC_SALE_OPEN=1
MINTER_MAX_BUY_PER_TX=5
MINTER_UNIT_PRICE="10 0"
MINTER_MAX_SUPPLY_FOR_MINT="10 0"
MINTER_RESERVED_SUPPLY_FOR_MINT="3 0"