[submodule "cairo_contracts"]
	url = https://github.com/OpenZeppelin/cairo-contracts
	path = lib/cairo_contracts
	branch = refs/heads/v0.2.1
[submodule "lib/cairopen_contracts"]
	path = lib/cairopen_contracts
	url = https://github.com/CairOpen/cairopen-contracts
[submodule "lib/cairo_merkle_distributor"]
	path = lib/cairo_merkle_distributor
	url = https://github.com/ncitron/cairo-merkle-distributor
