[submodule "cairopen_contracts"]
	url = https://github.com/CairOpen/cairopen-contracts.git
	path = lib/cairopen_contracts
[submodule "carbonable_starkvest"]
	path = lib/carbonable_starkvest
	url = https://github.com/Carbonable/starkvest
