[submodule "cairopen_contracts"]
	url = https://github.com/CairOpen/cairopen-contracts.git
	path = lib/cairopen_contracts
[submodule "bal7hazar_contracts"]
	url = https://github.com/Bal7hazar/cairo-contracts.git
	path = lib/bal7hazar_contracts
[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "carbonable_starkvest"]
	path = lib/carbonable_starkvest
	url = https://github.com/Carbonable/starkvest
